<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

    <head>
        <!-- Bootstrap Core CSS -->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

        <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
        <!-- Menu toggle -->
        <link href="{% static "css/menu.css" %}" rel="stylesheet">
        {% block header %}

        {% endblock %} 
    </head>

    <body>
        <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
 
                <li><a id="menu-close" href="#" class="btn pull-right"><i class="fa fa-times"></i></a>
                </li>
                
                <li> Hello User
                </li>
                
                
                <li><a href="/dashboard/" onclick = $("#menu-close").click(); >Dash Board</a>
                </li>
                
                <li><a href="/tutorials/" onclick = $("#menu-close").click(); >Tutorials</a>
                </li>
                
                <li><a href="/programs/" onclick = $("#menu-close").click(); >Programs</a>
                </li>
            </ul>
        </nav>

    <header  class="header">
    {% block body %}

    {% endblock %}
    </header>
    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}" ></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js"  %}"></script>

    <script>
      $("#menu-close").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });

      // Opens the sidebar menu
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
    </script>
</body>

</html>
